.title {
  margin-top: 30px;
  color: #0d253f;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.form {
  display: flex;
  align-items: center;
  margin-top: 0px;
}
@media (min-width: 457px) {
  .form {
    margin-top: 30px;
  }
}
.input {
  margin: 0;
  padding: 0px 10px;
  border: 2px solid #01b4e4;
  border-radius: 5px;
  background: #ffffff;
  height: 24px;
  width: 170px;
  color: #90cea1;
  font-size: 12px;
}
.btn {
  margin: 0;
  margin-left: -25px;
  padding: 0;
  border: none;
  border-radius: 3px;
  background: #01b4e4;
  outline: none;
  height: 20px;
  width: 20px;
  color: #01b4e4;
}
.btn:hover {
  cursor: pointer;
}
