.castList {
  list-style: none;
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.tumb {
  width: 264px;
  height: 396px;
}
.img {
  display: block;
  width: 100%;
  height: auto;
}
.text {
  padding: 5px 10px;
  text-align: center;
}
.h41 {
  color: dimgrey;
  font-weight: 700;
  font-size: 24px;
}
