.btnBack {
  color: #01b4e4;
  font-size: 24px;
  margin: 0 0 20px 0;
}
.flex {
  margin: 30px 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.flexX {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.tumb {
  width: 320px;
  height: 480px;
}
.poster {
  width: 100%;
  height: auto;
}
.block {
  /* max-width: 720px; */
  width: 40vw;
  min-width: 320px;
  margin: 0 0 30px 0;
}
.title {
  font-size: 2rem;
  margin: 0 0 5px 0;
}
.inf {
  display: flex;
  margin: 0 0 30px 0;
  gap: 10px;
  align-items: baseline;
  font-size: 14px;
}
.h3,
.h3ow {
  color: dimgrey;
}
.h3ow {
  margin-bottom: 10px;
}
.links {
  font-size: 24px;
  color: #01b4e4;
  /* font-weight: normal; */
}
.overview {
  display: flex;
}
